<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

    <meta property="og:title" content="1337 shades of grey" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://1337-shades-of-grey.greyrepo.xyz" />
    <meta property="og:image" content="https://1337-shades-of-grey.greyrepo.xyz/assets/img/cover.jpeg" />
    <meta property="og:description" content="{% t site_description %}" />
    <meta name="theme-color" content="#222222">

    <!-- Include this to make the og:image larger -->
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body class="bg-beaver-900 text-beaver-100">
    {{ content }}
  </body>
</html>
